<!DOCTYPE html>
<html ng-app="hackathonApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <script src="./socket.io/socket.io.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="./js/soundcloud.js"></script>
    <script src="./js/angularApp.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <script>
        var socket = io.connect('http://localhost:1337');
    </script>
</head>
<body background="./img/flanl.PNG" onload="scInit();">
<br class="clearfix"/>
<div id="body-container">
    <br/>
    <div class="container-fluid hundredHeight">
        <div class="row hundredHeight">
            <div class="pull-left half hundredHeight">
                <div class="panel panel-default hundredHeight">
                    <div class="panel-body hundredHeight">
                        <!-- HEADER -->
                        <header class="row">
                            <h1 class="text-center">
                                FLANL <small class="superSmall">- Free LAN Logistics</small>
                            </h1>

                            <div ng-controller="navController">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active : homeTab}"><a href="#/" ng-click="homeTab=1;chartTab=0;musicTab=0;">Home</a></li>
                                <li role="presentation" ng-class="{active : chartTab}"><a href="#/chart" ng-click="homeTab=0;chartTab=1;musicTab=0;">Stats</a></li>
                                <li role="presentation" ng-class="{active : musicTab}"><a href="#/music" ng-click="homeTab=0;chartTab=0;musicTab=1;">Music</a></li>
                            </ul>
                            </div>

                        </header>
                        <div class="hundredHeight" ng-view></div>
                    </div>
                </div>
            </div>
            <div class="pull-right half hundredHeight" ng-include=" '/templates/chat.html' ">
            </div>
        </div>
    </div>
    <br/>
</div>

<!-- FOOTER -->
<footer class="bg-info">
    <h5 class="text-center">
        <small>
            Developed by "The Mavericks" for the Spring 2015 Hackathon at ISU
            <br/>
            Nick Wilson, Chris Helmick, Rick Strohman &copy; 2015
        </small>
    </h5>
</footer>
</body>
</html>