<div>
    <h2>SoundCloud Queue</h2>
    <div class="form-group">
        <form ng-submit="formSubmit()">
            <label>Add to Queue:</label>
            <input type="text" class="form-control" ng-model="itemQueue"/>
        </form>
    </div>
    <div ng-repeat="song in songs">
        <div class="panel panel-primary">
            <div ng-if="song.current">
                <div class="panel-heading">
                    <h3>Now Playing:</h3>
                </div>
            </div>
            <div class="panel-body"> <!--ng-class="{currentSong:song.current}"-->
                <img class="albumArt" ng-src="{{song.artwork}}"/>
                {{ song.title }}: {{ song.user }}
            </div>
        </div>
    </div>
</div>