<div id="musicScrollContainer" class="scrollContainer">
    <h2>SoundCloud Queue</h2>
    <div class="form-group">
        <form ng-submit="formSubmit()">
            <label>Add to Queue:</label>
            <input type="text" class="form-control" ng-model="itemQueue"/>
        </form>
    </div>
    <div ng-repeat="song in songs">
        <div ng-class="{bg-primary : song.current}">
            <div class="pull-left">
                <img class="albumArt" ng-src="{{song.artwork}}"/>
            </div>
            <div>
                <div ng-if="song.current">
                    Now Playing: <br/>
                </div>
                <h3><small>Track:</small>{{ song.title }}</h3>
                <h3><small>Artist:</small>{{ song.user }}</h3>
            </div>
        </div>
        <br class="clearfix"/>
    </div>
</div>