footer{
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
}

#body-container{
    position:fixed;
    top:0;
    left:2%;
    right:2%;
    bottom:80px;
    min-width:600px;
}

.hundredHeight{
    /*position:relative;*/
    /*top:0;*/
    /*bottom:0;*/
    height:100%;
}

.half {
    width:49%;
}

.avatar {
    width:30px;
    height:30px;
}

.scrollContainer{
    /*position:relative;*/
    /*top:0px;*/
    /*bottom:0px;*/

    overflow-x:hidden;
    overflow-y:auto;
}

#chartScrollContainer{
    height:75%;
}

#chatScrollContainer{
    height:55%;
}

#splashScrollContainer{
    height:80%;
}